$grey-lightest: #F9F9FB;
$grey-lighter: #E5E5EC;
$grey-light: #C6C6C6;
$grey: #7D7D7D;

$green-lighter: #D6EED7;
$green-light: #76A079;

$blue-light: #73A9D5;

$red-light: #FDADB8;
$red-dark: #B23A64;

$radius-1: 0.5rem;

$spacing-1: 0.5rem;
$spacing-2: 1rem;
$spacing-3: 1.5rem;
$spacing-4: 2rem;

$font-size-1: 0.5rem;
$font-size-2: 0.75rem;
$font-size-3: 1rem;
$font-size-4: 1.25rem;
$font-size-5: 1.5rem;
$font-size-6: 2rem;
