.summary-table__header {
  border-radius: $radius-1;
  background-color: $grey-lighter;
  padding-left: $spacing-4;
  padding-right: $spacing-4;
  padding-top: $spacing-2;
  padding-bottom: $spacing-2;
}
